<%- include('partials/header') -%>

  <main class="container">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Welcome to Story Time</h1>
        <p class="text-center">The place where stories and characters come alive.</p>
        <p class="text-center">Login or sign up and begin and write your own stories.</p>
      </div>
    </div>


    <div class="row justify-content-around mt-3">
      <a href="/login" class="col-3 btn btn-primary"> Login</a>
      <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
  </main>


  <%- include('partials/footer') -%>